<!DOCTYPE html>
<html>

<head>
	<title>Time Management system</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<nav class="nav-extended blue">
		<div class="nav-wrapper">
			<a href="{{ url_for('admin_dashboard') }}" class="brand-logo">Time Manager</a>
			<ul class="right hide-on-med-and-down">
				<li><a>Employees</a></li>
				<li><a>Time Management</a></li>
				<li><a>Settings</a></li>
				<li><a>Logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
	</div>

	{% block content %} {% endblock %}
    <footer>
        <div class="footer-copyright">
			<div class="container">
            <div class="center-align">
				<strong>© 2020 Copyright Time Manager</strong> 
			</div>
		</div>
    </footer>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
            $('select').material_select();
        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 100, // Creates a dropdown of 100 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        document.getElementById("matfix").addEventListener("click", function(e) {e.stopPropagation();
        });
	</script>
</body>

</html>