<!DOCTYPE html>
<html land="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Time Management system</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<div>
        <!-- Navigation bar -->
		<nav>
			<div class="nav-wrapper blue">
				<a href="{{ url_for('index') }}" class="brand-logo">Time Manager</a>
				<!--<a href="{{ url_for('index') }}" data-target="mobile-demo"
					class="sidenav-trigger right"><i class="material-icons">menu</i></a> -->
				<ul class="navbar right">
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('timer') }}">Time Manager</a></li>
					<li><a href="{{ url_for('faq') }}">FAQ</a></li>
					<li><a href="{{ url_for('contact') }}">Contact</a></li>
				</ul>
			</div>
		</nav>


		{% block content %} {% endblock %}
<!-- Footer -->
	<footer class="page-footer blue">
		<div class="container">
			<div class="row">
				<div class="col s6  center-align">
					<h5 class="white-text">Time managment Software</h5>
					<p class="grey-text text-lighten-4">With our time management software it's easy to keep track of your employees working time,
                     you will have easy access to their recorded time at work and you can easily forward their hours to your accountant.</p>
				</div>
				<div class="col s6  center-align">
					<h5 class="white-text">Menu</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Time manager</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
            <div class="center-align footer-content">
				© 2020 Copyright Time-Manager
			</div>
		</div>
	</footer>
    <!-- Scripts and libraries-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
    // Ready function for my collapsible and character counter  
		$(document).ready(function(){
            $('.collapsible').collapsible();
            $('input#input_text, textarea#textarea2').characterCounter();
        //    $('.sidenav').sidenav();
        });
	</script>
</body>

</html>