{% extends 'backend_base.html' %} {% block content %}

<div class="container">
    <h3 class="center-align">Edit Project</h3>
	<form action="{{ url_for('update_project', project_id=project._id) }}" method="POST">
		<ul class="collection">
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="project_id" name="project_id" type="text" class="validate" value="{{project.project_id}}">
				<label for="icon_prefix">Project ID</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="project_name" name="project_name" type="text" class="validate" value="{{project.project_name}}">
				<label for="icon_prefix">Project Name</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="project_manager" name="project_manager" type="text" class="validate" value="{{project.project_manager}}">
				<label for="icon_prefix">Project Manager</label>
			</div>
            <div class=" col s12 center-align">
				<button type="submit" name="action" class="waves-effect waves-light btn-large blue"><i class="material-icons right">update</i>Edit project</button>
			</div>
        </ul>
	</form>
    <div class="col s12">
			<div class="center-align">
				<a href="{{ url_for('projects') }}">
					<i class="material-icons prefix">arrow_back</i>
					<p><strong>Back</strong></p>
				</a>
			</div>
		</div>
</div>

{% endblock %}