{% extends 'backend_base.html' %} {% block content %}
<div class="container">
	<div class="row">
		<h3 class="center-align">Summary of submitted timestamps</h3>
		<table>
			<ul>
                <!-- Header for the timestamps-->
				<li class="col s3"><strong>Project Id</strong></li>
				<li class="col s5"><strong>Employee</strong></li>
				<li class="col s1"><strong>Total Hours</strong></li>
				<li class="col s1"><strong>Regular Hours</strong></li>
				<li class="col s1"><strong>Total 50%</strong></li>
				<li class="col s1"><strong>Total 100%</strong></li>
			</ul>
		</table>

		<table>
                <!-- Timestamps display -->
			<ul class="collection with-header">
				{% for timestamp in timestamps %}
				<li class="col s3">{{timestamp.project_id}}</li>
				<li class="col s5">{{timestamp.employee_id}}</li>
				<li class="col s1">{{timestamp.total}}</li>
				<li class="col s1">{{timestamp.normal}}</li>
				<li class="col s1">{{timestamp.overtime_fifty}}</li>
				<li class="col s1">{{timestamp.overtime_hundred}}</li>
				{% endfor %}
			</ul>
		</table>
        <!-- Back button -->
		<div class="col s12 center-align margin-bottom-list">
			<div class="row">
				<div class="col s12 center-align">
					<a
						href="{{ url_for('admin_dashboard') }}"><button class="waves-effect waves-light btn-large blue hoverble"><i class="col s1 small material-icons prefix styling-add-button">arrow_back</i>Back</button></a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}