{% extends 'base.html' %} {% block content %}
<div class="bg-img">
	<div class="container">
		<div class="row">
            <!-- Info box about Time Manager -->
			<div class="col s12 content-box  border">
				<h1 class="text-style-index">Welcome to Time Manager</h1>
				<h5 class="text-style-index">-Keep track of your employees timerecords with the Time Manager and save
					time and money!</h5>
			</div>
            <!-- Login button to admin dashboard -->
			<div class="col s12 center-align">
				<a
					href="{{ url_for('admin_dashboard') }}"><button class="waves-effect waves-light btn-large blue login-button hoverable center-align">Login</button></a>
			</div>
			<!-- Comment out my login form for use later! 
			<form class="col l4 offset-l1 s12 border bg-color">
				<div class="row">
					<div class="input-field valign-wrapper col s12 margin-top-ten">
						<i class="material-icons prefix">account_circle</i>
						<input id="icon_prefix" type="text" class="disabled">
						<label for="icon_prefix">Username</label>
					</div>
					<div class="input-field valign-wrapper col s12">
						<i class="material-icons prefix">lock</i>
						<input id="password" type="password" class="disabled">
						<label for="password">Password</label>
					</div>
				</div>
				<div class="col s12">
					<p>Remember Me</p>
                    -->
			<!-- Switch -->
			<!-- Cooment the form out
					<div class="switch">
						<label>
                        No
                        <input type="checkbox">
                        <span class="lever"></span>
                        Yes
                        </label>
					</div>
				</div>
				<div class="col s12 margin-top-five">
					<a href="#">Forgot password?</a>
				</div>

				<div class="center-align">
					<a
						href="{{ url_for('admin_dashboard') }}"><button class="waves-effect waves-light btn-large blue login-button hoverable">Login</button></a>
				</div>
			</form>
            -->
		</div>
	</div>
</div>

{% endblock %}