{% extends 'backend_base.html' %} {% block content %}


<div class="container">
	<ul class="collection">
		<div class="col s12">
			<div class="row">
				<div class="col s12 center-align">
					<li class="collection-header">
						<i class="material-icons prefix">account_circle</i>
						<h4>{{employee.name}}</h4>
					</li>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">today</i>
							</div>
							<div class="col s8">
								<h5>Date of Birth:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.dob}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">add_location</i>
							</div>
							<div class="col s8">
								<h5>Address:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.address}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">add_location</i>
							</div>
							<div class="col s8">
								<h5>Postal Code:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.postal_code}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">add_location</i>
							</div>
							<div class="col s8">
								<h5>Postal Address:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.postal_address}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">phone</i>
							</div>
							<div class="col s8">
								<h5>Phone:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.phone}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">input</i>
							</div>
							<div class="col s8">
								<h5>Country code:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.country_code}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">mail_outline</i>
							</div>
							<div class="col s8">
								<h5>E-mail:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.email_id}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">block</i>
							</div>
							<div class="col s8">
								<h5>Employee ID:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.id}}</h5>
						</li>
					</div>
				</div>
			</div>
		</div>
	</ul>
	<div class="col s12 center-align margin-bottom-list">
		<div class="row">
			<div class="col s6 center-align">
				<a
					href="{{ url_for('view_employees') }}"><button class="waves-effect waves-light btn-large blue hoverble"><i class="col s1 small material-icons prefix styling-add-button">arrow_back</i>Back</button></a>
			</div>
			<div class="col s6 center-align">
				<a
					href="{{url_for('edit_employee', employee_id=employee._id)}}"><button class="waves-effect waves-light btn-large blue hoverble"><i class="col s1 small material-icons styling-add-button">add_circle</i>Edit profile</button></a>
			</div>
		</div>
	</div>
</div>

{% endblock %}