{% extends 'backend_base.html' %} {% block content %}


<div class="container">
		<ul class="collection">
			<li class="collection-item">Name: {{employee.name}}</li>
			<li class="collection-item">DoB: {{employee.dob}}</li>
			<li class="collection-item">Address: {{employee.address}}</li>
			<li class="collection-item">Postal address: {{employee.postal_address}}</li>
			<li class="collection-item">Phone: {{employee.phone}}</li>
			<li class="collection-item">Country Code: {{employee.country_code}}</li>
			<li class="collection-item">E-mail: {{employee.email_id}}</li>
			<li class="collection-item">Employee Id: {{employee.id}}</li>
		</ul>
</div>

{% endblock %}