{% extends 'backend_base.html' %} {% block content %}

<div class="container">
	<div class="row">
		<table class="col s12">
			<ul class="collection with-header">
				<h1>Project Name</h1>
				<div class="row">
					<div class="col s6">
						<li class="col s3">Project Id</li>
					</div>
					<div class="col s6">
						<li class="col s3">{{timestamp.project_id}}</li>
					</div>
				</div>
			</ul>
		</table>
	</div>
</div>
<div class="container">
	<ul class="collection">
		<div class="col s12">
			<div class="row">
				<div class="col s12 center-align">
					<li class="collection-header">
						<i class="material-icons prefix">account_circle</i>
						<h4>{{project.project_id}} - {{project.project_name}}</h4>
					</li>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">today</i>
							</div>
							<div class="col s8">
								<h5 class="center-align">Date of Birth:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.dob}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">add_location</i>
							</div>
							<div class="col s8">
								<h5 class="center-align">Address:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.address}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">add_location</i>
							</div>
							<div class="col s8">
								<h5 class="center-align">Postal Code:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{employee.postal_code}}</h5>
						</li>
					</div>
				</div>
			</div>
		</div>
	</ul>
	<div class="col s12 center-align margin-bottom-list">
		<div class="row">
			<div class="col s6 center-align">
				<a
					href="{{ url_for('view_employees') }}"><button class="waves-effect waves-light btn-large blue hoverble"><i class="col s1 small material-icons prefix styling-add-button">arrow_back</i>Back</button></a>
			</div>
			<div class="col s6 center-align">
				<a
					href="{{url_for('edit_employee', employee_id=employee._id)}}"><button class="waves-effect waves-light btn-large blue hoverble"><i class="col s1 small material-icons styling-add-button">add_circle</i>Edit profile</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}