{% extends 'backend_base.html' %} {% block content %}

<div class="container">
	<table>
		<div class="row">
			<h3 class="center-align">Project List</h3>
			<ul>
				<li class="col s2"><strong>Project Id</strong></li>
				<li class="col s5"><strong>Project Name</strong></li>
				<li class="col s2"><strong>Project Manager</strong></li>
				<li class="col s1"><strong>View</strong></li>
				<li class="col s1"><strong>Edit</strong></li>
				<li class="col s1"><strong>Delete</strong></li>
			</ul>
		</div>
	</table>
	<table>
		{% for project in projects %}
		<div class="row">
			<ul class="collection with-header">
				<li class="col s2">{{project.project_id}}</li>
				<li class="col s5">{{project.project_name}}</li>
				<li class="col s2">{{project.project_manager}}</li>
				<div class="inline_actions">
					<a
						href="{{url_for('see_project', project_id=project._id)}}"><i class="col s1 small material-icons">visibility</i></a>
					<a
						href="{{url_for('edit_project', project_id=project._id)}}"><i class="col s1 small material-icons">add_circle</i></a>
					<a
						href="{{url_for('delete_project', project_id=project._id)}}"><i class="col s1 small material-icons">cancel</i></a>
				</div>
			</ul>
		</div>
	</table>
	{% endfor %}
	<div class="col s12 center-align margin-bottom-list">
		<div class="row">
			<div class="col s6 center-align">
				<a
					href="{{ url_for('admin_dashboard') }}"><button class="waves-effect waves-light btn-large blue hoverble"><i class="col s1 small material-icons prefix styling-add-button">arrow_back</i>Back</button></a>
			</div>
			<div class="col s6 center-align">
				<a
					href="{{ url_for('new_project') }}"><button class="waves-effect waves-light btn-large blue hoverble"><i class="col s1 small material-icons styling-add-button">add_circle</i>New Project</button></a>
			</div>
		</div>
	</div>
</div>

{% endblock %}