{% extends 'backend_base.html' %} {% block content %}

<div class="container">
	{% for project in projects %}
	<table>
		<div class="row">
			<ul class="collection with-header">
				<li class="col s2">{{project.project_id}}</li>
				<li class="col s5">{{project.project_name}}</li>
				<li class="col s2">{{project.project_manager}}</li>
				<div class="inline_actions">
					<a href="{{url_for('see_project', project_id=project._id)}}"><i class="col s1 small material-icons">visibility</i></a>
					<a href="{{url_for('edit_project', project_id=project._id)}}"><i class="col s1 small material-icons">add_circle</i></a>
					<a href="{{url_for('delete_project', project_id=project._id)}}"><i class="col s1 small material-icons">cancel</i></a>
				</div>
			</ul>
		</div>
	</table>
	{% endfor %}
    <a href="{{ url_for('new_project') }}"><button class="waves-effect waves-light btn-large blue">New Project</button></a>
</div>

{% endblock %}