{% extends 'backend_base.html' %} {% block content %}

<div class="container">
	<ul class="collection">
		<div class="col s12">
			<div class="row">
            <!-- See the project profile -->
				<div class="col s12 center-align">
					<li class="collection-header">
						<i class="material-icons prefix">account_circle</i>
						<h4>{{project.project_id}} - {{project.project_name}}</h4>
					</li>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">today</i>
							</div>
							<div class="col s8">
								<h5 class="center-align">Project ID:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{project.project_id}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">add_location</i>
							</div>
							<div class="col s8">
								<h5 class="center-align">Project Name</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{project.project_name}}</h5>
						</li>
					</div>
				</div>
				<div class="row">
					<div class="collection col s4">
						<div class="row">
							<div class="col s4 right-align">
								<i class="material-icons prefix icon-profile">account_circle</i>
							</div>
							<div class="col s8">
								<h5 class="center-align">Manager:</h5>
							</div>
						</div>
					</div>
					<div class="col s8">
						<li class="collection">
							<h5>{{project.project_manager}}</h5>
						</li>
					</div>
				</div>
			</div>
		</div>
	</ul>
	<div class="col s12 center-align margin-bottom-list">
		<div class="row">
        <!-- Button to see projects -->
			<div class="col s6 center-align">
				<a
					href="{{ url_for('projects') }}"><button class="waves-effect waves-light btn-large blue hoverble"><i class="col s1 small material-icons prefix styling-add-button">arrow_back</i>Back</button></a>
			</div>
            <!-- Button to take you to edit projects -->
			<div class="col s6 center-align">
				<a
					href="{{url_for('edit_project', project_id=project._id)}}"><button class="waves-effect waves-light btn-large blue hoverble"><i class="col s1 small material-icons styling-add-button">add_circle</i>Edit project</button></a>
			</div>
		</div>
	</div>

{% endblock %}